<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="ajax-element" noscript>
    <template>
        <span>I'm <b>ajax-element</b>. This is my Shadow DOM.</span>
        <core-ajax
                auto
                url="http://ip.jsontest.com/"
                handleAs="json"
                response="{{resp}}">
        </core-ajax>
        <textarea style="width:200px" value="{{resp.ip}}"></textarea>
    </template>
</polymer-element>